Part: 1

Question 1.1: Create a list containing the numbers 1 through 10. Use a for loop to print each element squared.
Question 2.2: Given the tuple (100, 200, 300, 400), write a Python program to add a new element (500) at the end of the tuple.
Question 3.1: Create a set from the list [1, 2, 3, 1, 2, 3, 4, 5]. Print the set.
Question 4.1: Create a dictionary to store the following information: name - John Doe, age - 29, city - New York. Print each value using its key.
Question 5.1 (If-Else): Write a Python program that checks if a number stored in a variable is odd or even. Print an appropriate message to the screen.
  Question 6.1: Write a lambda function to compute the square of a number and test it using the value 12.
  Question 6.2: Use a lambda function to filter and print all the even numbers from a list provided by the user.
Question 7.1 (while): Write a program that prompts the user to enter a number nnn. Using a loop, the program should print all numbers from 1 to n−1n-1n−1.

#### Question 1.1: Create a list containing the numbers 1 through 10. Use a for loop to print each element squared.

In [1]:
my_list = list(range(1,11))
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
for number in my_list:
    squared_number = number * number
    print(squared_number)

1
4
9
16
25
36
49
64
81
100

#### Question 2.2: Given the tuple (100, 200, 300, 400), write a Python program to add a new element (500) at the end of the tuple.

In [3]:
my_tuple = (100,200,300,400)

In [4]:
my_list = list(my_tuple)

In [5]:
my_list

[100, 200, 300, 400]

In [6]:
my_list.append(500)

In [7]:
my_list

[100, 200, 300, 400, 500]

In [8]:
my_tuple = tuple(my_list)

In [9]:
my_tuple

(100, 200, 300, 400, 500)

#### Question 3.1: Create a set from the list [1, 2, 3, 1, 2, 3, 4, 5]. Print the set.

In [10]:
my_list = [1,2,3,1,2,3,4,5]

In [11]:
my_set = set(my_list)

In [12]:
my_set

{1, 2, 3, 4, 5}

#### Question 4.1: Create a dictionary to store the following information: name - John Doe, age - 29, city - New York. Print each value using its key.

In [13]:
my_dict = {'name' : 'John Doe' , 'age' : 29, 'city' : 'New York'}

In [14]:
my_dict

{'name': 'John Doe', 'age': 29, 'city': 'New York'}

In [15]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [16]:
for key, value in my_dict.items():
    print (f'{key }: {value}')

name: John Doe
age: 29
city: New York

#### Question 5.1 (If-Else): Write a Python program that checks if a number stored in a variable is odd or even. Print an appropriate message to the screen.

In [17]:
def check_number(n):
    if n % 2 == 0:
        print (f'The number {n} is EVEN')
    else:
        print (f'The number {n} is ODD')

In [18]:
check_number(5)

The number 5 is ODD

In [19]:
check_number(4)

The number 4 is EVEN

#### Question 6.1: Write a lambda function to compute the square of a number and test it using the value 12.

In [20]:
sqr = lambda x : x * x

In [21]:
sqr(12)

144

#### Question 6.2: Use a lambda function to filter and print all the even numbers from a list provided by the user.

In [22]:
numbers_str = input("Enter a comma-separated list of numbers: ")
numbers = [int(num) for num in numbers_str.split(",")]

even_numbers = filter(lambda x: x % 2 == 0, numbers)

for number in even_numbers:
  print(number)

Enter a comma-separated list of numbers: 1,2,3
2

#### Question 7.1 (while): Write a program that prompts the user to enter a number nnn. Using a loop, the program should print all numbers from 1 to n−1n-1n−1.

In [23]:
n = int(input('Enter a number: '))

Enter a number: 7

In [24]:
i = 1
while i < n:
    print (i)
    i = i + 1

1
2
3
4
5
6